---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { MarkdownInstance } from "astro";

export interface Props {
  post: MarkdownInstance;
}

const { frontmatter, Content } = Astro.props.post;
---

<Layout
  title={frontmatter.title}
  author={frontmatter.author}
  description={frontmatter.description}
  ogImage={frontmatter.ogImage}
>
  <Header />
  <div class="max-w-3xl mx-auto w-full px-2 flex justify-start">
    <button
      class="mt-8 mb-2 hover:opacity-75 flex focus-outline"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
        <h1 class="post-title">{frontmatter.title}</h1>
        <span class="italic text-sm">
            {
            (new Date(frontmatter.datetime)).toLocaleDateString([], {
                year: "numeric",
                month: "long",
                day: "numeric",
            })
            }
            <span aria-hidden="true"> | </span>
            {
            (new Date(frontmatter.datetime)).toLocaleTimeString([], {
                hour: "2-digit",
                minute: "2-digit",
            })
            }
        </span>
    <article id="article" role="article" class="mx-auto max-w-3xl mt-8 prose">
      <Content />
    </article>

  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply max-w-3xl mx-auto px-4 pb-12 w-full;
  }
  .post-title {
    @apply font-semibold text-2xl text-skin-accent;
  }
</style>
